{% extends 'main/layout.html' %}

{% block title %}{{title}}{% endblock %}
{% load static %}
{% block content %}
<div class="center">
<main class="main">
    <div class="start">
        <section class="intro-kvadro iy">
                            
            <div class="img-kvadro"><img src="{% static 'main/img/image 47.png' %}" alt=""></div>
            <div class="obert">
                <img src="{% static 'main/img/лого 1.svg' %}" class="logo-about"></img>
                <p class="un_title-kvadro sis text-about">
                    Добро пожаловать в базу Семейного отдыха "ANISIMOV" — место, где каждый момент становится незабываемым приключением для вашей семьи.</p>
            </div>
            
        </section>
        <div class="texts">
            С нашим крутым опытом в сфере семейного отдыха мы стремимся создавать моменты, которые запоминаются на долгие годы. Мы посвятили себя искусству делать ваш отдых неповторимым, предоставляя широкий спектр услуг для удовлетворения каждого члена вашей семьи.
        </div>
    </div>

    <section class="why">
        <h1 class="title">Почему выбирают нас</h1>
        <div class="ones">
            <div class="one">
                <h3 class="mic title-why">Комфорт</h3>
                <img src="{% static 'main/img/image 24.png' %}" alt="" class="icon r">
            </div>
            <div class="one">
                <h3 class="mic title-why">Лучший сервис</h3>
                <img src="{% static 'main/img/image 25.png' %}" alt="" class="icon">
            </div>
            <div class="one">
                <h3 class="mic title-why">Бюджетные варианты</h3>
                <img src="{% static 'main/img/image 26.png' %}" alt="" class="icon">
            </div>
            <div class="one">
                <h3 class="mic title-why">Разнообразие развлечений</h3>
                <img src="{% static 'main/img/image 27.png' %}" alt="" class="icon">
            </div>
        </div>
    </section>

    <section class="otziv">
        <h1 class="title">Отзывы</h1>
        <div class="readys">
            <p class="texts">Наша база отдыха гордится нашими положительными отзывами от семей, которые доверили нам свои важные моменты отдыха. Мы ценим каждый отзыв, ведь он является лучшим свидетельством того, что мы на верном пути в создании невероятных воспоминаний для наших гостей.</p>

            <div class="cards">
                <div class="card-otziv">
                    <div class="first-content">
                        <div class=""><img src="{% static 'main/img/image 48.png' %}" alt=""></div>
                        <div class="name-persone">
                            <h5 class="title-name">Максим Рублёв</h5>
                            <h6 class="title-name">@maxrubliov</h6>
                        </div>
                    </div>
                    <p class="text-otziv">Комфорт и уровень сервиса
                        на высшем уровне!
                        Рекомендую всем посетить
                        данную базу отдыха, буду рекомендовать своим знакомым и друзьям!</p>
                    <div class="stars">
                        <img src="{% static 'main/img/звезды.svg' %}" alt="">
                    </div>
                </div>
                <div class="card-otziv">
                    <div class="first-content">
                        <div class=""><img src="{% static 'main/img/image 48.png' %}" alt=""></div>
                        <div class="name-persone">
                            <h5 class="title-name">Максим Рублёв</h5>
                            <h6 class="title-name">@maxrubliov</h6>
                        </div>
                    </div>
                    <p class="text-otziv">Комфорт и уровень сервиса
                        на высшем уровне!
                        Рекомендую всем посетить
                        данную базу отдыха, буду рекомендовать своим знакомым и друзьям!</p>
                    <div class="stars">
                        <img src="{% static 'main/img/звезды.svg' %}" alt="">
                    </div>
                </div>
                <div class="card-otziv">
                    <div class="first-content">
                        <div class=""><img src="{% static 'main/img/image 48.png' %}" alt=""></div>
                        <div class="name-persone">
                            <h5 class="title-name">Максим Рублёв</h5>
                            <h6 class="title-name">@maxrubliov</h6>
                        </div>
                    </div>
                    <p class="text-otziv">Комфорт и уровень сервиса
                        на высшем уровне!
                        Рекомендую всем посетить
                        данную базу отдыха, буду рекомендовать своим знакомым и друзьям!</p>
                    <div class="stars">
                        <img src="{% static 'main/img/звезды.svg' %}" alt="">
                    </div>
                </div>
            </div>
            

            <!-- <button class="but1 b">ОСТАВИТЬ ОТЗЫВ</button> -->
        </div>
    </section>

    <section class="ready">
        <h1 class="title">Мы готовы улучшаться</h1>
        <div class="readys">
            <p class="texts"> Мы постоянно стремимся к совершенству. Ваш опыт — наш приоритет, и мы всегда готовы к инновациям и улучшениям, чтобы сделать ваше пребывание еще более комфортным и захватывающим. Ваши пожелания становятся нашим стимулом к постоянному совершенствованию.</p>
            <!-- <button class="but1 b">ПОМОЧЬ НАМ СТАТЬ ЛУЧШЕ</button> -->
        </div>
    </section>
</main>
</div>
{% endblock %}

